doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Document
    
    // CSS
    link(rel="stylesheet", href="/modules/materialize-css/dist/css/materialize.min.css")
    link(rel="stylesheet", href="")
    
    // JS
    script(src="/modules/jquery/dist/jquery.min.js")
    script(src="/modules/materialize-css/dist/js/materialize.min.js")
    script(src="/modules/socket.io-client/socket.io.js")
    
    block css
    
    block js
body
    block content
    
